{% extends "base.html.twig" %}
{% block body %}
    <div class="container col-md-4">
        <h1 class="text-center">Ajout auteur</h1>
        {{ form_start(form) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.nom)}}
            <button type="submit" class="btn btn-dark">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}